<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Sobre Carros</h5>
        <p>
          Descubra sedans ágeis, SUVs robustos e todos os acessórios essenciais
          (rodas, pneus, sistemas de áudio). Oferecemos também peças de alta
          performance, equipamentos de diagnóstico, e kits de upgrade para
          potência máxima.
        </p>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Links Rápidos</h5>
        <ul class="list-unstyled">
          <li>
            <a class="text-decoration-none text-white">Inicio</a>
          </li>
          <li>
            <a class="text-decoration-none text-white">Carros</a>
          </li>
          <li>
            <a class="text-decoration-none text-white">Alugueis</a>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Siga-nos</h5>
        <ul class="list-inline social-icons">
          <li class="list-inline-item">
            <a href="#" class="text-white"
              ><i class="fa-brands fa-square-facebook"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-white"
              ><i class="fa-brands fa-square-twitter"></i
            ></a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="text-white">
              <i class="fa-brands fa-instagram"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="mb-4" />
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2025 Carros Infoo. Todos os direitos reservados.</p>
      </div>
    </div>
  </div>
</footer>
